.item {
list-style: none;
display: inline-block;

padding-top: 10px;
padding-bottom : 10px;
padding-left: 12px;
padding-right: 12px;

width: 51px;
}

.label {
color: #f3f6f4;
text-shadow: 1px 1px 1px #bcbcbc;
font-size: 12px;
text-align: center;

display: block;
}

.percentage {
color: #f3f6f4;
text-shadow: 1px 1px 1px #bcbcbc;
font-size: 16px;
text-align: center;

display: block;
}